html *,
body * {
  box-sizing: border-box;
}

body {
  height: 100%;
  line-height: 1;
  letter-spacing: .2px;
  margin: 0;
}

#app {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-weight: normal;
}
